<launch>
  <node pkg="swarm_patrol" type="room_map_marker_publisher.py" name="room_map_marker_publisher" output="screen"/>
  <node pkg="swarm_patrol" type="drone_marker_publisher.py" name="drone_marker_publisher" output="screen"/>
  <node pkg="swarm_patrol" type="patrol_controller_2d.py" name="patrol_controller_2d" output="screen"/>
  <node pkg="swarm_patrol" type="object_detection_2d.py" name="object_detection_2d" output="screen"/>
  <node pkg="swarm_patrol" type="battery_monitor.py" name="battery_monitor" output="screen"/>
  <node pkg="swarm_patrol" type="battery_display_publisher.py" name="battery_display_publisher" output="screen"/>
  <node pkg="swarm_patrol" type="heartbeat_publisher.py" name="heartbeat_publisher" output="screen"/>
  <node pkg="swarm_patrol" type="heartbeat_listener.py" name="heartbeat_listener_2" output="screen">
    <param name="drone_id" value="2"/>
  </node>
  <node pkg="swarm_patrol" type="heartbeat_listener.py" name="heartbeat_listener_3" output="screen">
    <param name="drone_id" value="3"/>
  </node>
</launch>